* {
    box-sizing: border-box;
  }
body{
  background-color: white;
  max-width: 100%;
}
  .btn-primary {
    background-color: #fc7b10;
    border: none;
    transition: 300ms;
  }

  .btn-primary:hover {
    background-color: #ff9035;
    transform: scale(1.05);
    color: white;
  }

  .body {
    margin: 0;
    font-size: 16px;
  }

  main {
    width: 100%;
  }

  .navbar {
    padding: 15px;
    border-bottom: 4px solid #fc7b10;
  }

  .section-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background-image: url("asset/Untitled-1\ \(1\).jpg");
    background-attachment: scroll;
    background-position: left;
    background-repeat: no-repeat;
    padding: 40px 0 40px 0;
  }

  .section-div-content-content {
    color: white;
    transition:400ms;
  }

  .section-form-content-div {
    padding: 60px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .form-div {
    width: 100%;
    background-color: rgb(205, 205, 205);
    padding: 50px;
    border-radius: 10px;
  }

  .section-work {
    width: 100%;
    padding: 70px 40px 70px 40px;
  }

  .section-heading {
    text-align: center;
  }

  .section-work-div {
    padding: 70px 0 0px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
.section-work-div-card{
  padding: 70px 0 0px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .card {
    border: none;
    margin-bottom: 40px;
    transition: 300ms;
  }

  /* gallry */
  .card-div {
    width: 33%;
    height: 500px;
    overflow: hidden;
  }

  .img-div {
    width: 100%;
  }

 
  .ideas{
   height: 70px;
  }

  .card-body {
    padding: 20px 0 20px 0;
    text-align: center;
   
  }

  .card-body h5 {
    font-size: 16px;
    margin: 0;
  }
  .svg-div{
    width: 33%;
    text-align: center;
    margin-bottom: 70px;
    padding: 0 70px 0 70px;
    transition: 300ms;
  }
  .section-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("asset/lets-connect-top-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    padding: 40px 0 40px 0;
  }
  .section-tech{
    padding:70px 40px 70px 40px ;
    background-color:   rgb(241, 241, 241);
  }
  .tech-div{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* overflow:scroll; */
  }
  
  .tech-div-img img{
    width:70px;
  }
  .tech-div-img{
    transition: 300ms;
  }

  footer {
    width: 100%;
    padding: 30px 40px 30px 40px;
    /* background-color: rgb(238, 238, 238); */
    border-top: 4px solid #fc7b10;
  }

 
  button.btn.btn-primary.btn-lg {
      width: 100%;
  }
  .footer-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  address {
    margin: 0;
    text-align: left;
    font-size: small;

  }
  .orange{
    color:#fc7b10;
  }


/* scrollbar */
  /* width */
::-webkit-overflow-scrollbar{
  width:3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207); 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190); 
}


/* animation for variable width */
.variable_width{
  width: 0px;
  height: 3px;
  background: #fc7b10;
  transition: width 300ms;
  transition-timing-function: cubic-bezier(0.07, 0.88, 0.44, 1.13);
}
.svg-div:hover{
  transform: scale(1.02);
}
.svg-div:hover .variable_width{
  width:100%;
}
.tech-div-img:hover{
  transform: scale(1.05);
}
.card:hover{
  transform: scale(1.05);
}
